################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eshop-distributed/.vs/eshop-distributed
/.vs
