################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eshop-distributed/.vs/eshop-distributed
/.vs
/eshop-distributed/Aspire/AppHost/bin/Debug/net9.0
/eshop-distributed/Aspire/ServiceDefaults/bin/Debug/net9.0
/eshop-distributed/Services/Catalog/bin/Debug/net9.0
/eshop-distributed/Aspire/AppHost/obj/Debug/net9.0
